#logo_link {
    padding-top: auto;
    justify-self: center;
    align-self: center;
    max-width: 100%;
    max-height: 100%;
}
.container {
    display: flex;
    align-items: center;
    justify-self: center;
    height: 100vh;
    background-color: white;
}
header {
    display: grid;
    background-color: seagreen;
    font-family: "Exo 2";
    grid-template-columns: 150px auto;
    justify-self: center;
    align-self: center;
}
